<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
    <meta charset="UTF-8"/>
    <title>Vets</title>
</head>
<body>
    <h1 th:text="#{vets}">List of vets</h1>
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Specialties</th>
        </tr>
        <tr th:each="vet : ${vets}">
            <td th:text="${vet.id}"></td>
            <td th:text="${vet.firstName}"></td>
            <td th:text="${vet.lastName}"></td>
        </tr>
    </table>
</body>
</html>